manifest {
  name            = 'IDENTXX/wf-fusarium-tef1'
  author          = 'IDENTXX'
  homePage        = 'https://github.com/IDENTXX/wf-fusarium-tef1'
  description     = 'Metabarcoding workflow for Fusarium TEF1 (EF-1α) using ONT reads already separated per barcode/sample.'
  mainScript      = 'main.nf'
  nextflowVersion = '>=20.10.0'
  version         = 'v0.1.0'
}

params {
  // Required (EPI2ME UI will force these via schema anyway)
  reads    = ''      // directory path
  db_fasta = ''      // file path

  // Output
  out_dir  = 'output'

  // Primers (optional)
  primer_fwd       = ''
  primer_rev       = ''
  require_primers  = true
  trim_error_rate  = 0.12

  // Filtering
  min_q    = 9
  min_len  = 300
  max_len  = 1200

  // Clustering
  cluster_id        = 0.90
  min_cluster_reads = 20

  // BLAST
  blast_topn = 5
}

process {
  cpus   = 4
  memory = '4 GB'
  time   = '2h'
  errorStrategy = 'terminate'
}

profiles {
  standard {
    docker {
      enabled = true
      // optional, aber oft hilfreich, damit Dateien mit richtigen Rechten geschrieben werden:
      runOptions = "--user \$(id -u):\$(id -g) --group-add 100"
    }
  }

  singularity {
    singularity {
      enabled = true
      autoMounts = true
    }
  }
}
